{% extends 'layout.html' %}

{% block body %}   
    <center>
    <div class="background">   
        <center> <h1> <p face="impact" color='navy'>
            Smart HOME  </p></h1>
            <p color="white" face ="arial"size="3">
            Learn to control the world from anywhere</p>
            </p>
            <br>   
        <center>
            <h2>Alarma</h2> 
        <p >
            <a class="butoane"  href='alarma-on'>ON</a>
            <a class="butoane"  href='alarma-off'>OFF</a>
        </p>
        <h3> {{ msg }}</h3>
            <br>
     </div>
    
{% endblock %}